<svg class="progress" [attr.width]="size" [attr.height]="size" viewBox="-80 -80 800 800">
  <circle [attr.r]="size/2 - 10" [attr.cx]="size/2" [attr.cy]="size/2" fill="transparent" [attr.stroke]="circleColor"
    [attr.stroke-width]="circleWidth" [attr.stroke-dasharray]="dasharray" stroke-dashoffset="0">
  </circle>

  <circle [attr.r]="size/2 - 10" [attr.cx]="size/2" [attr.cy]="size/2" [attr.stroke]="progressColor"
    [attr.stroke-width]="circleWidth" [attr.stroke-linecap]="progressShape"
    [attr.stroke-dashoffset]="dasharray - (progress / duration * dasharray)" fill="transparent"
    [attr.stroke-dasharray]="dasharray">
  </circle>
</svg>